/* Introdução Portfólio */
.introducao_portfolio {
    background: url('../img/bg-portfolio.jpg') no-repeat center;
    background-size: cover;
}

/* Citação */
.citacao_portfolio {
    text-align: center;
    padding-bottom: 40px;
}

.citacao_portfolio p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: italic;
    line-height: 25px;
    max-width: 400px;
    text-align: center;
    margin: 40px auto 20px auto;
}

.citacao_portfolio cite {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0.1em;
}

/* Portfólio completo */
.portfolio_interno {
    width: 100%;
    height: 670px;
    background: #000;
    padding: 40px;
}

.imagem_pricipal_portfolio {
    padding-top: 20px;
}

.bolinhas_portfolio li {
    width: 10px;
    height: 10px;
    background: #fec63e;
    border-radius: 50%;
    position: relative;
    left: 47%;
    float: left;
    margin: 13px 15px 0 0;
}

/* 292929 */
