/** Intodução Produtos */
.introducao_produtos {
    background: url('../img/bg-produtos.jpg');
    background-size: cover;
}

/** Produtos */
.produto_categoria {
    padding-top: 60px;
}

.produto_categoria h2 {
    position: absolute;
    left: 25%;
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
}

.produto_categoria h2::after,
.produto_categoria h2::before {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 6px auto 8px auto;
}

.produto_icone {
    background: #000;
    height: 280px;
    text-align: center;
    padding: 70px 0;
}

.protuto_img_secundaria {
    margin-top: 20px;
}

.produto_info {
    background: #000;
    margin-top: 20px;
}

.produto_info p {
    color: #fff;
    padding: 30px 40px;
    font-size: 18px;
    line-height: 25px;
    height: 178px;
}

.produto_info ul li {
    background: #fec63e;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    float: left;
    width: 229px;
    height: 49px;
    text-align: center;
    padding-top: 16px;
}

.produto_info ul li:nth-child(1),
.produto_info ul li:nth-child(2) {
    margin-bottom: 2px;
}

.produto_info ul li:nth-child(even) {
    margin-left: 2px;
}

/** Orçamento */
.orcamento {
    width: 100%;
    background: #000;
    padding: 40px 0;
    margin-top: 60px;
}

.orcamento .subtitulo {
    color: #fec63e;
}

.orcamento .subtitulo::after {
    background: #fec63e;
}

.form label {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 25px;
}

.form textarea,
.form input {
    width: 85%;
    height: 40px;
    border: 4px #fec63e solid;
    background: none;
    margin-top: 5px;
    color: #fff;
    padding: 8px;
}

.form textarea {
    padding-bottom: 100px;
    overflow: hidden; /* Hide scrollbars */
}

.form input:last-child {
    width: 140px;
    padding-bottom: 27px;
    padding-top: 7px;
    margin-top: 20px;
}

.info_montagem_bike {
    margin-top: 40px;
}

.info_montagem_bike h3,
.orcamento_dados h3 {
    color: #fec63e;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.orcamento_dados p {
    color: #fff;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 30px;
}

.info_montagem_bike p {
    color: #fff;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 5px;
}

.info_montagem_bike ul li {
    color: #fff;
    padding: 8px 15px;
    margin-right: 60px;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 14px;
    line-height: 20px;
}

.info_montagem_bike ul li:nth-child(odd) {
    background: #292929;
}

.form {
    color: #fff;
}

.orm label {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 20px;
}
