/** Estilo para tablets */
@media only screen and (min-width: 788px) and (max-width: 979px) {
    /** Home Início */
    /** Qualidade */
    .qualidade::after {
        display: none;
    }

    .qualidade_lista li {
        padding: 0 20px;
    }

    /** Footer */
    .footer_redes ul li a {
        padding: 6px;
    }

    .footer_redes ul li {
        margin-right: 4px;
    }

    /** Produtos */
    .produto_categoria h2 {
        left: 22%;
        padding-top: 80px;
    }

    .produto_icone {
        height: 222.25px;
        padding: 38px 10px;
    }

    .produto_info {
        background: #000;
    }

    .produto_info p {
        padding: 20px 30px;
        height: 132px;
        font-size: 14px;
    }

    .produto_info ul li {
        width: 181px;
        height: 49px;
        text-align: center;
        padding-top: 14px;
        font-size: 14px;
        height: 44px;
    }

    /* Portfolio */
    .portfolio_interno {
        height: 560px;
    }
}

/** Estilo para smartphones */
@media only screen and (max-width: 787px) {
    /** Home Início */
    /** Header */
    .header {
        position: relative;
        padding-bottom: 0px;
    }

    .header img {
        margin: 0 auto 10px auto;
    }

    .header_menu {
        text-align: center;
    }

    .header_menu ul li {
        margin: 5px;
    }

    .header_menu ul li a {
        border: 4px solid #000;
        width: 136px;
        display: block;
        float: left;
    }

    .header_menu ul li a:hover {
        border-color: #fff;
    }

    .header_menu ul li a.menu_ativo {
        border-color: #fff;
    }

    /** Introdução */
    .introducao {
        margin-top: 0px;
        padding-top: 50px;
        background: url('../img/bg-mobile.jpg') no-repeat center;
        background-size: cover;
    }

    .introducao h1 {
        font-size: 36px;
    }

    .call {
        padding-top: 20px;
    }

    /** Qualidade */
    .qualidade::after {
        display: none;
    }

    /** Geral Interno Início */
    .introducao_interna {
        margin: 0;
    }

    /* Sobre */
    .missao_sobre p {
        padding-right: 0px;
        font-size: 14px;
        line-height: 20px;
    }

    .missao_sobre ul li {
        font-size: 14px;
        line-height: 25px;
    }

    /** Produtos */
    .produto_categoria h2 {
        left: 21%;
        padding-top: 30px;
    }

    .produto_icone {
        height: 220px;
        padding: 40px 30px;
    }

    .produto_icone img {
        margin: 0px auto;
    }

    .produto_info {
        background: #000;
    }

    .produto_info p {
        padding: 20px 30px;
        height: 162px;
        font-size: 14px;
    }

    .produto_info ul li {
        width: 149px;
        height: 49px;
        text-align: center;
        padding-top: 14px;
        font-size: 14px;
        height: 44px;
    }

    /** Orçamento */
    .form textarea,
    .form input {
        width: 100%;
    }

    .info_montagem_bike ul li {
        margin-right: 0px;
    }

    /* Portfolio */
    .portfolio_interno {
        height: 610px;
    }

    .imagem_pricipal_portfolio {
        padding-top: 0px;
    }

    .bolinhas_portfolio li {
        left: 40%;
    }

    /* Contato */
    .form_contato textarea,
    .form_contato input {
        width: 100%;
    }

    .orcamento_contato {
        padding-bottom: 0;
    }

    .orcamento_dados_contato {
        padding-top: 30px;
    }
}
